@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #4830B0;
  color: #D6D6D6;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.divider-top .shape-fill {
  fill: #4830B0;
}

.divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.divider-bottom .shape-fill {
  fill: #4830B0;
}